*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    aspect-ratio: auto;
}

.footer {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__info {
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.footer__info__logo {
    flex-direction: column;
    justify-items: center;
}

.footer__info__text {
    flex-direction: row;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #848484;
    text-align: center;
    margin: 20px 0px;
    line-height: 24px;
}

.footer__info__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__info__logos__img {
    width: 20px;
}

.footer__info__logos__figure {
    padding: 5px 15px;
}

.footer__qode {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #848484
}